<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.0.5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
				<key>dateExpires</key>
				<string>07/05/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>13.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AA617D5CF39F35A0341FE507A85E2E1FC4D3602</string>
						<key>dateExpires</key>
						<string>07/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WB235WPLV6</string>
						<key>name</key>
						<string>CAFE ZUPAS, L.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WB235WPLV6.com.cafezupasres.co</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cafezupasprod.app.link</string>
					<string>applinks:cafezupasprod-alternate.app.link</string>
					<string>applinks:cafezupasprod.test-app.link</string>
					<string>applinks:cafezupasprod-alternate.test-app.link</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.cafezupasrewrite</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WB235WPLV6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5747dbb9-f787-4a86-a7be-99a88803fab0</string>
				<key>dateExpires</key>
				<string>01/08/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.cafezupasres.co</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WB235WPLV6</string>
				<key>name</key>
				<string>CAFE ZUPAS, L.C.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.11</string>
		</dict>
	</array>
</dict>
</plist>
